@import url("/base.css");

.blobs {
  background: url(blobs.svg) var(--color-paper) no-repeat center center / cover;
  position: fixed;
  inset: 0 0 0 0;
  z-index: -1;
}

.projects {
  display: flex;
  flex-direction: row-reverse;
}

.projects-list {
  display: grid;
  flex: 1;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
  list-style-type: none;
  margin: 0;
  opacity: 0.9;
  padding: 0 1rem;
}

.project {
  background-color: var(--color-white);
  border-radius: 1rem;
  cursor: pointer;
  grid-template-rows: 1fr;
  height: auto;
  min-height: 14rem;
  padding: 1.75rem 1.5rem;
  position: relative;
  text-align: left;
  transition:
    opacity var(--transition-time) ease,
    visibility var(--transition-time) ease;
  box-shadow: 0px 2px 2px hsla(0 0% 0% / 0.1), 0px 4px 4px hsla(0 0% 0% / 0.1);
}

.project.show {
  opacity: 1;
  visibility: visible;
}

.project.hide {
  opacity: 0;
  visibility: hidden;
}

.project img {
  border-radius: 50%;
  transition: border-radius var(--transition-time) ease;
}

.project:hover img {
  border-radius: 15%;
}

.project h2 {
  margin: 1.75rem 0 0.75rem;
  line-height: 1.375;
  text-wrap: balance;
  font-weight: 500;
  font-size: var(--font-scale-m);
}

.project p {
  font-size: var(--font-scale-s);
}

.project svg {
  width: 1.75rem;
  aspect-ratio: 1;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  fill: rgba(255 0 128 / 0.05);
  transition: fill var(--transition-time) ease;
}

.project:hover svg {
  fill: rgba(255 0 128 / 0.35);
}

.filters {
  padding-right: 1rem;
  z-index: 500;
  position: sticky;
  top: 0;
  height: fit-content;
}

.filter-button {
  background-color: var(--color-paper);
  border: 1px solid #a0a0a0;
  border-radius: 2rem;
  color: #555;
  cursor: pointer;
  display: block;
  font-size: var(--font-scale-s);
  margin: 4px;
  padding: 0.5em 1em;
  transition:
    border-color var(--transition-time) ease,
    color var(--transition-time) ease,
    background-color var(--transition-time) ease;
  width: 100%;
}

.filter-button.active {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: white;
  opacity: 0.8;
}
