<a href="#main-content" class="skip-link">Skip to main content</a>

<header class="site-header container">

  <a href="/" class="site-logo" title="Go to home page">
    <svg>
      <use href="/sprites.svg#logo"></use>
    </svg>
  </a>

  <nav class="site-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects/wordle-golf/">Wordle Golf</a></li>
      <li><a href="/canvas/test-card/">Test Card</a></li>
      <li><a href="/canvas/wipeout/">Wipeout</a></li>
    </ul>
  </nav>

</header>